.cardsWrap {
    position: relative;
}

.imageFieldFront {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    height: 100%;
    transform: rotateY(90deg);
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    border-radius: 5px;
}

.imageFieldBack {
    height: 100%;
    width: 100%;
    background: #4b33ff;
    border-radius: 5px;
}

.flippledCard {
    transform: rotateY(0deg);
}

